<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Supper {% if page.title }%} - {{page.title}}{% endif %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="{{ site.baseurl }}/assets/js/vendor/modernizr-2.7.1.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">
           	  <i class="glyphicon glyphicon-cutlery text-danger"></i> 
            	  <span class="text-danger">Supper</span>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="{{ site.baseurl }}/during/">During Supper</a></li>
            <li class=""><a href="{{ site.baseurl }}/before/">Before Supper</a></li>
            <li class=""><a href="{{ site.baseurl }}/after/">After Supper</a></li>
            <li class=""><a href="{{ site.baseurl }}/early">Early Supper</a></li>
            <li class=""><a href="{{ site.baseurl }}/morning">Morning Supper</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container" style="font-size:18px;">
      {% if page.title %}
      <h1 class="" style="margin-top:0px;">
        {% if page.date %}
        <small class="glyphicon glyphicon-hand-right text-info"> </small>
        {% endif %}
        {{ page.title }}
        {% if page.subtitle %}<small>{{page.subtitle}}</small>{% endif %}
      </h1>
      {% endif %}
    
      {% if page.date %}
      <div class="panel panel-info" style="border-left-width:4px;">
        <div class="panel-body">
        {{ content }}
        </div>
      </div>
      {% else %}
        {{ content }}
      {% endif %}
      
    </div><!-- /.container -->
    
    <hr>
    <div class="container">
    	<div class="">
    		<div class="row">
          <div class="col-sm-6">
        		<p class="">
              <a class="btn btn-info btn-block" href="{{ site.baseurl }}/make/">
                <i class="glyphicon glyphicon-info-sign"> </i>
                How to Make Supper →
              </a>
            </p>
          </div>
          <div class="col-sm-6">
    		    <p class="">
              <a class="btn btn-info btn-block" href="{{ site.baseurl }}/about/">
                <i class="glyphicon glyphicon-question-sign"> </i>
                What is this Supper →
              </a>
            </p>
          </div>
        </div>
      </div>

    	<p class="text-center text-muted">
    		Supper is <a href="http://github.com/seangirard">Sean's</a> idea.
        You can <a href="http://github.com/seangirard/supper">fork supper on github</a>.
    	</p>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/plugins.js"></script>
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>

