<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Supper {% if page.title }%} - {{page.title}}{% endif %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="{{ site.baseurl }}/assets/js/vendor/modernizr-2.7.1.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">
            <i class="glyphicon glyphicon-cutlery text-warning"></i> 
            <span class="text-warning">Supper</span>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="{{ site.baseurl }}/">During Supper</a></li>
            <li class=""><a href="{{ site.baseurl }}/">Before Supper</a></li>
            <li class=""><a href="{{ site.baseurl }}/">After Supper</a></li>
            <li class=""><a href="{{ site.baseurl }}/">Early Supper</a></li>
            <li class=""><a href="{{ site.baseurl }}/">Breakfast for Supper</a></li>
            <li class=""><a href="{{ site.baseurl }}/">Make Supper</a></li>
            <li class=""><a href="{{ site.baseurl }}/about/">What is Supper?</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      {% if page.title }%}
      <h1>
        {{ page.title }}
        {% if page.subtitle }%}<small>{{page.subtitle}}</small>{% endif %}
      </h1>
      {% endif %}
    
      {{ content }}

    </div><!-- /.container -->
    
    <hr>
    <div class="container">
    	<div class="alert alert-info">
    	<p class="text-muted">
    		Supper is <a href="http://github.com/seangirard">Sean's</a> idea.
    	</div>
    	</div>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/plugins.js"></script>
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>

